<div class="navigator shadow-below">
  <p>
    <a class="float-left" href="/archive?date={{prevDay}}">
      <i class="icon-left-big"></i>
    </a>
    {{date}}
    <a class="float-right" href="/archive?date={{nextDay}}">
      <i class="icon-right-big"></i>
    </a>
  </p>
</div>

<div class="header-spacer"></div>

<div class="archive-main">
  {{#if daily}}
    {{{daily}}}
  {{else}}
    {{> error errorMessage}}
  {{/if}}
</div>

<div class="push"></div>

<div class="subscribe-bar shadow-above">
  <form>
    <h2 class="hidden-mobile">Get smiles in your inbox every day.</h2>
    <input id="emailInput" type="email" placeholder="Your email address">
    <button id="subscribeBtn"><i class="icon-right-big"></i></button>
  </form>
</div>
